<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Home</title>
    </head>
    <body>
        <div id="welcome">
            <h1>Welcome to The Monopoly Bank</h1>
            <h2>Instructions for creating a new game:</h2>
            <p>1. Each user must <a href="/users/signup">sign up</a> to be able to access the game</p>
            <p>2. One user should click the <a href="/game/new">create game</a> link on this page</p>
            <p>3. Play the game!</p>
        </div>
    </body>
</html>