<!DOCTYPE html>
<html>
    <head>
        <title>The Monopoly Bank - Home</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="buttons">
            <div id="game-buttons">
                <form action="/game/new">
                    <input id="new_game" type="submit" value="New Game">
                </form>
                <form action="/game">
                    <input id="continue_game" type="submit" value="Continue Game">
                </form>
            </div>
            <div id="user-buttons">
                <form action="/user/signup">
                    <input id="signup" type="submit" value="Sign Up">
                </form>
                <form action="/user/login">
                    <input id="login" type="submit" value="Log In">
                </form>
            </div>
        </div>
    
        <div id="welcome">
            <h1>Welcome to The Monopoly Bank</h1>
            <h2>Instructions for creating a new game:</h2>
            <p>1. Each user must <a href="/users/signup">sign up</a> to be able to access the game</p>
            <p>2. One user should click the <a href="/game/new">create game</a> link on this page</p>
            <p>3. Play the game!</p>
        </div>

        <div id="monopoly-man">
        </div>
    </body>
</html>